* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.header {
  background-color: burlywood;
}
h1 {
  margin: auto;
  text-align: center;
}
